<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.chaxster.chachnjray.oargasms"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/splash"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
        android:label="OAR-GASMS">
        <activity
            android:name=".OarGasms">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Recruit"></activity>
        <activity android:name=".Boathouse"></activity>
        <activity android:name=".Athlete"></activity>
    </application>

</manifest>